@using USVTracking_MVC.Models
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Bootstrap core CSS -->    
    @Styles.Render("~/Content/bootstrap/bootstrap.less")
    <!-- Custom styles for sticky footer navigation bar template -->
    @Styles.Render("~/Content/usvtracking/sticky-footer-navbar.css")
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    @Scripts.Render("https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
    @Scripts.Render("https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
    <![endif]-->
    <!-- JQuery-2.1.1 Javascript -->
    @Scripts.Render("~/Scripts/jquery-2.1.1.min.js")
    <!-- Common USOL-V script -->
    @Scripts.Render("~/Scripts/usv/uv-common.js")

    <script type="text/javascript">
        $(document).ready(function () {
            initLoading();
        });
    </script>
</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">UVTrackingTool</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse" ng-controller="HeaderController">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Time Record</a></li>
                    <li ng-class="active"><a href="{{ path('_schedule') }}">Schedule</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Report<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Report By User</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#">...</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">...</a></li>
                            <li><a href="#">...</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- ul class="nav navbar-nav navbar-right">
                  <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul -->
            </div>
            <div ng-view></div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    <!-- Sticky footer -->
    <footer class="footer">
        <div class="container">
            <p class="text-muted">Place sticky footer content here</p>
        </div>
    </footer>
</body>
</html>
